/* #############################################
 * ##### Sasson - advanced drupal theming. #####
 * #############################################
 *
 * SITENAME theme main stylesheet.
 *
 *  Index
 *  -----------
 *  1. Imports and Definitions
 *  2. General Sitewide Styles
 *    -- Layout
 *    -- General Styles
 *    -- Typography
 *    -- Links
 *    -- Header
 *    -- Sidebars
 *    -- Footer
 *  3. Front Page
 *  4. Inner Pages
 *  5. Forms
 *
 */

/*-----------------------------------------------
           Imports and Definitions
-----------------------------------------------*/
$main-color: #1B90C9;
$text-color: #666;

// Grid dimensions
$ninesixty-grid-width: [grid-width];
$ninesixty-columns: [columns];
$ninesixty-gutter-width: [gutter-width];

@import "compass/css3";           // Uncomment to use CSS3 mixins (http://compass-style.org/reference/compass/css3/)
@import "960/grid";               // Uncomment to use grid mixins (see Sasson's layout partials for examples)
@import "partials/mixins";        // Uncomment to call your own mixins partial (check your /partials directory)

@import "partials/forms";
@import "partials/ideal";
@import "partials/tabs";
@import "partials/icons";

@media (max-width: [narrowest]) {
  @import "partials/off-canvas";
}


/*-----------------------------------------------
          General Sitewide Styles
-----------------------------------------------*/
/* -----  Layout  ----- */
#page,
#header-inner,
#secondary-menu-links,
#footer-inner {
  max-width: 100%;
}
#main,
.sidebar {
  box-sizing: border-box;
  padding: 30px 20px 30px;
}
// Off-canvas effect
#main,
#sidebar-first {
  transition: all 0.5s linear;
}

/* -----  General Styles (Colors, Backgrounds etc.)  ----- */
#admin-menu {
  // Prevent horizontal scroll
  margin: 0;
  max-height: 29px;
}
html {
  background: #292929;
}
body {
  color: $text-color;
  background: #fff;
  font-size: 16px;
  line-height: 1.44;
}
p {
  margin: .2em 0;
}
h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizelegibility;
  font-weight: normal;
}
h1 {
  color: $main-color;
  margin-top: 0;
}
.node h2 {
  margin: 10px 0 5px;
}
h2.block-title {
  font-size: 18px;
  margin: 16px 0 3px;

  #main & {
    text-align: center;
    background: #f6f6f6;
  }
}
.fieldset-wrapper {
  font-size: .8em;
}

/* -----  Links  ----- */
ul.links.inline {
  font-size: .8em;

  .first {
    padding-left: 0;
  }
  a {
    color: #333;
    &:hover {
      color: $main-color;
    }
  }
}
a,
a:visited {
  color: $main-color;
  text-decoration: none;
  transition: color 0.3s, background-color 0.3s;
}
a:hover,
a:active {
  color: lighten($main-color, 15%);
  text-decoration: undeline;
}

/* -----  header  ----- */
#header {
  // background: url('../images/-bg-header.jpg') repeat-x bottom;
  background: url('../images/bg-header.png') repeat-x bottom lighten($main-color, 25%);
  box-shadow: inset 0px -15px 35px -10px rgba(0,0,0,.3);

  #header-inner {
    padding: 15px 0 0;
    @include grid-container;
  }
  #site-name {
    margin: 0 20px 0 0;
    float: right;
    font-size: 3em;

    a {
      color: #fff;
      text-shadow: 0 2px 0 #666;
    }
  }
}
#logo {
  margin: 0 0 -50px 20px;
}
#main-menu {
  display: block;
  clear: both;
  text-align: right;
  margin-top: -15px;

  li {
    display: inline-block;
    padding: 0 0.3em;

    &.last {
      padding-right: 15px;
    }

    a {
      display: block;
      background-color: lighten($main-color, 35%);
      @include linear-gradient(color-stops(rgba(255, 255, 255, .6), rgba(255, 255, 255, 1)), top);
      padding: 3px 20px 1px;
      border: 1px solid lighten($main-color, 5%);
      border-bottom: none;
      border-right: none;
      border-radius: 6px 6px 0 0;
      &:hover,
      &.active {
        background-color: #fff;
      }
      &.active {
        color: #555;
      }
      .lte-ie9 & {
        background-color: lighten($main-color, 50%);
      }
    }
  }
}
#secondary-menu {
  margin: 0;
  background-color: #2c2c2c;
  border-bottom: 1px solid lighten($main-color, 40%);
  font-size: .8em;
  @include linear-gradient(color-stops(#333, #222), top);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);

  #secondary-menu-links {
    @include grid-container;
    display: block;

    li {
      display: inline-block;
      padding: 0 1%;

      a {
        display: block;
        color: #999999;
        line-height: 19px;
        padding: 6px 10px;
        text-decoration: none;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);

        &:hover,
        &.active {
          background-color: #222222;
          color: #FFFFFF;
          text-decoration: none;
        }

      }
    }
  }
}

/* -----  Sidebars  ----- */
.sidebar {
  .block {
    @include box;
    padding: 0 15px 15px;
    margin-bottom: 1em;
    background: #fcfcfc;
  }
  ul.menu,
  ul.category-menu {
    margin: .3em 0 .3em;
    padding: 0;
    li {
      list-style: none;
      margin: 0;
      ul {
        padding: 0 0 0 10px;
        margin: .3em 0 .3em;
      }
    }
  }
}

/* -----  Footer  ----- */
#footer {
  color: #fff;
  background: #292929;
  padding-bottom: 1em;
  font-size: .8em;
  text-shadow: -1px -1px 0 #000;

  #footer-inner {
    @include grid-container;
  }
  .block {
    vertical-align: top;
    padding: 15px;

    &.block-menu {
      display: inline-block;
    }

    h2.block-title {
      margin-bottom: 3px;
    }

    ul.menu {
      padding: 0;
      margin-top: 3px;

      li {
        margin: 0;
        list-style: none;
      }
      a {
        color: #aaa;
      }
    }
  }
}
/* -----  Tables  ----- */
table {
  width: 100%;

  thead {
    background: #777;
    @include bevel-in(.1);

    th {
      padding: 4px 10px 2px;
      text-align: center;
      font-weight: normal;
      text-shadow: -1px -1px 0 #333;
      color: #fff;
      font-size: .9em;
    }
    a {
      color: #fff;
      font-style: italic;
    }
  }
}


/*-----------------------------------------------
                 Front Page
-----------------------------------------------*/
.region-content .block:first-child h2.block-title {
  margin-top: 0;
}

/*-----------------------------------------------
                 Inner Pages
-----------------------------------------------*/
.submitted {
  font-size: .8em;
  margin: .4em 0;
}

.node {
  .user-picture {
    float: right;
    margin: 0 0 5px 15px;
  }
  .field-name-field-social-buttons {
    clear: both;
    margin: 15px 0;
    padding: 10px 0 0;
  }
  .field-type-taxonomy-term-reference {
    ul.links {
      margin: .2em 0;
    }
    li {
      list-style: none;
      display: inline;
      padding: 0 5px;
      margin: 0;

      a {
        font-size: .8em;
        color: #333;
        &:hover {
          color: $main-color;
        }
      }
    }
  }
}

/* -----  Comments  ----- */
.comment {
  @include box;
  margin-bottom: 1em;

  h3 {
    margin: 0 0 10px;
  }
  .new {
    float: right;
    background: $main-color;
    color: #fff;
    border-radius: 4px;
    font-size: .75em;
    padding: 0 3px;
  }
}
/* -----  Comment form  ----- */
form.comment-form {
  margin-top: 2em;

  .form-type-item,
  .form-item-name,
  .form-item-subject {
    letter-spacing: -4px;

    > * {
      letter-spacing: normal;
    }
    label {
      display: inline-block;
      font-weight: normal;
      font-size: .85em;
      margin-right: -1px;
      width: 20%;
    }
    input.form-text {
      display: inline-block;
      width: 80%;
    }
  }
  .fieldset-wrapper select {
    width: auto;
  }
  .filter-help {
    float: right;
    padding: 0;
  }
}

/* -----  User Page - Logs  ----- */
.view-recent-logs {
  font-size: 11px;
  font-family: 'lucida grande', tahoma, verdana, arial, san-serif;
  
  .views-row {
    border-bottom: 1px solid #E9E9E9;
    padding-bottom: 7px;
    padding-top: 7px;
  }
  .views-field {
    display: inline-block;
  }
  .views-field-timestamp {
    color: #B7B7B7;
  }
}

/* -----  Search  ----- */
#block-search-form {
  border: none;
  background: none;
  margin: 0px;
  padding: 0px;

  .form-type-textfield {
    display: inline-block;
  }
  .ac_input {
    background-position: 100% 6px;
  }
  .form-submit {
    margin: 0;
  }
}
